<!-- links to other views -->
<ul class="nav nav-tabs">
  <li><a href="/pages/home">home</a></li>
  <li class="active"><a href="#">about</a></li>
  <li><a href="/pages/contact">contact</a></li>
</ul>

<div class="container">
  <br>
  <p>this is the about page!</p>
</div>
